.editor {
  background: #111;
  color: #ddd;
  height: 100vh;
  font-family: monospace;
}

.editor-page {
  outline: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-page__text {
  flex: 1;
  white-space: pre;
}

.editor-page__status {
  background: #333;
  color: white;
  padding: 4px;
}
